<mat-grid-list cols="3" rowHeight="100%">
  <mat-grid-tile>
    <app-player-info [playerForm]=player1Form (playerValue)="selectedValue($event)" [submit]="submit">
    </app-player-info>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-coin-toss [tossForm]=tossForm (tossEvent)="tossedCoin($event)" [submit]="submit"
      (flipActionEvent)="getFlipActionEvent($event)" (res)="getResult($event)" [formValid]="formValid"
      [betReult]="betReult"></app-coin-toss>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-player-info [playerForm]=player2Form (playerValue)="selectedValue($event)" [submit]="submit">
    </app-player-info>
  </mat-grid-tile>
</mat-grid-list>
<button (click)="transfer()">transfer</button>
