<div>
  <app-coin-test></app-coin-test>
  <!-- <app-coin></app-coin> -->
  <br />
  <form [formGroup]="tossForm">
    <div *ngIf="submit && tossForm.controls.bet.errors?.required != null" class="form-invalid-waring">
      Please input your money before
    </div>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Bet here (ETH)</mat-label>
      <input matInput required placeholder="ETH" type="number" formControlName="bet">
    </mat-form-field>

    <button mat-raised-button color="primary" class="w-full" (click)="tossCoin()">Toss!!!</button>
  </form>
</div>
