<form class="example-form">
  <h3>Player {{playerNumber}}</h3>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label>address</mat-label>
    <input matInput required>
  </mat-form-field>

  <p>
    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="BTC">
        <img src="https://icons.iconarchive.com/icons/cjdowner/cryptocurrency-flat/1024/Bitcoin-BTC-icon.png"
          width="18rem" />&nbsp;&nbsp;BTC</mat-button-toggle>
      <mat-button-toggle value="BTC">
        <img src="https://icons.iconarchive.com/icons/cjdowner/cryptocurrency-flat/1024/Ethereum-ETH-icon.png"
          width="18rem">&nbsp;&nbsp;ETH</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
</form>
